export GOCACHE=$(expand_path .cache/go)
export GOROOT=$(expand_path .bin/go/lib)
export GOPATH=$(expand_path .bin/go/local)
export GOPROXY=direct

PATH_add .bin/go/lib/bin
PATH_add .bin/go/local/bin
PATH_add .bin/node/bin
PATH_add .bin
PATH_add .

if [ -e .envrc_custom ]; then
	. .envrc_custom
fi
